<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Validação de Login</h1>
    <form method="post">
        <label for="usuario">Email:</label>
        <input type="text" id="usuario" name="usuario" required><br>
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>
        
        <input type="submit" value="Entrar">
    </form>
</body>
</html>